*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background-image: url("basketball-court.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Caprasimo', cursive;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score-details
{
    background-image: url("scoreboard.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:700px;
    height:450px;
}

.title
{
    margin-top:12.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#af8f5c;
    text-shadow: 2px 2px #613229;
}

.show-scores
{
    display:flex;
    margin-top:1.88rem;
    justify-content: space-evenly;
    font-size:3.75rem;
    font-family: 'VT323', monospace;
}

.score-home
{
    width:3.75rem;
    height:3.75rem;
    background-color: black;
    color:white;
    text-align: center;
    margin-left:3.75rem;
    border-radius: 0.31rem;
}

.score-guest
{
    width:3.75rem;
    height:3.75rem;
    background-color: black;
    color:white;
    text-align: center;
    margin-right:3.75rem;
    border-radius: 0.31rem;
}

.score-update
{
    color:rgb(19, 19, 149);
}

.increment-btn
{
    display:flex;
    justify-content: space-evenly;
    margin-top:1.88rem;
}

button
{
    width:2.5rem;
    height:1.88rem;
    background-color: rgb(190, 8, 8);
    border:none;
    cursor: pointer;
    color:white;
    font-size: 1.88rem;
    font-family: 'VT323', monospace;
}

.increment-btn-guest
{
    margin-left:6.25rem;
}

/* -------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:600px) {

    .score-details
   {
    width:500px;
    height:400px;
    margin-left:1.25rem;
    margin-right:1.25rem;
   }
   .title
   {
    font-size: 1.88rem;
   }
   .show-scores
   {
    font-size:2.5rem;
    font-family: 'VT323', monospace;
   }
   .score-home
   {
    width:2.5rem;
    height:2.5rem;
    }
   .score-guest
   {
    width:2.5rem;
    height:2.5rem;
    }
    .score-update
   {
    margin-left:0.63rem;
    margin-right:0.63rem;
    }
    button
    {
    width:1.88rem;
    height:1.25rem;
    font-size: 1.25rem;
    font-family: 'VT323', monospace;
    }
    .increment-btn-guest
   {
    margin-left:5rem;
   }
    
}
